<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />

</head>
<body>
<h1>Welcome to the Default Page</h1>
<h2>Getting a Book By Title</h2>
<form th:action="@{/getBookByTitle}" method="get">
    <div>
        <label for="booktitle">title:</label>
        <input type="text" id="booktitle" name="title">

    </div>

    <div>
        <button type="submit">Search</button>
    </div>
</form>

<h2>Getting a Book By ID</h2>
<form th:action="@{/getBookById}" method="get">
    <div>
        <label for="bookid">title:</label>
        <input type="text" id="bookid" name="title">

    </div>

    <div>
        <button type="submit">Search</button>
    </div>
</form>


<a th:href="@{/logout}">Logout</a>
</body>
</html>
